<div>
  <h2>Work gallery</h2>
</div>

<!-- Carousel -->
<div id="portfolioCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      *ngFor="let p of projectItemsArr; let i = index"
      type="button"
      data-bs-target="#portfolioCarousel"
      [attr.data-bs-slide-to]="i"
      aria-current="true"
      aria-label="..."
      [ngClass]="{
        active: i == 0
      }"
    ></button>
  </div>

  <div class="carousel-inner">
    <div
      *ngFor="let p of projectItemsArr; let i = index"
      class="carousel-item"
      [ngClass]="{
        active: i == 0
      }"
    >
      <div class="carousel-item-img-div">
        <img src="{{ p.imageUrl }}" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-caption-backgrop"></div>

      <div class="carousel-caption d-none d-md-block">
        <h5>{{ p.titleText }}</h5>
        <p>{{ p.subText }}</p>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#portfolioCarousel"
    data-bs-slide="prev"
  >
    <i class="bi bi-chevron-left" aria-hidden="true"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#portfolioCarousel"
    data-bs-slide="next"
  >
    <i class="bi bi-chevron-right" aria-hidden="true"></i>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div>
  <p>
    Some of these projects are available for live preview, others have open code on
    my <a href="https://github.com/vaheaslanyan/" target="_blank"><span>github</span></a>. Yet others are not available to public due to the proprietary nature of the
    applications (some projects are also not shown in the gallery for the same reason).
  </p>
  <p>
    You can always reach out to me if you have any questions, would like to
    discuss the projects, or just want to pick my brain.
  </p>
</div>
