#contactMainDiv {
    margin-bottom: 10rem;
}

#contactMainDiv .row {
    margin-bottom: 1rem;
    color: var(--color-foreground-secondary);
}

#contactTitleDiv {
    max-width: 600px;
    margin: 5rem auto 0 auto;
}

#contactFormDiv {
    max-width: 600px;
    margin: auto;
}