#contactMainDiv {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#contactMainDiv .row {
    margin-bottom: 3rem;
}

#contactTitleDiv {
    max-width: 600px;
    margin: 5rem auto 0 auto;
}

#contactFormDiv {
    max-width: 600px;
    margin: auto;
}