<div id="contactMainDiv" class="container">
  <div id="contactImageDiv">
      <img class="contact-img" src="../../../assets/paper_plane.svg" alt="collaboration" />
  </div>
  <div class="row">
    <div id="contactTitleDiv" class="col">
      <h2>Let's talk.</h2>
      <p>Feel free to use the form below to send me a contact request. However, I am currently looking for full-time employment and am not able to take on freelancing orders.</p>
      <p>Please visit the <a routerLink="/about"><span>about</span></a> section for more information about me and other means to get in touch with me.</p>
    </div>
  </div>
  <div class="row">
    <div id="contactFormDiv" class="col">
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>
