<div id="contactMainDiv" class="container">
    <div class="row">
        <div id="contactFormDiv" class="col">
            <form>
                <h5>Tell us about yourself.</h5>
                <div class="mb-3">
                    <!-- <label for="exampleInputEmail1" class="form-label">Tell us about your company</label> -->
                    <input type="text" name="name" class="form-control" id="nameInput" aria-describedby="emailHelp">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                    <input type="email" name="email" class="form-control" id="emailInput">
                </div>
                <div class="mb-3">
                    <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                    <input type="phone" name="phone" class="form-control" id="phoneInput">
                </div>
                <div class="mb-3">
                    <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                    <input type="url" name="website" class="form-control" id="websiteInput">
                </div>
                <h5>Tell us about your project.</h5>
                <div class="mb-3">
                    <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                    <textarea type="url" name="projectDescription" class="form-control" id="projectDescriptionInput"></textarea>
                </div>
                <div class="mb-3">
                    <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                    <input type="number" name="budget" class="form-control" id="budgetInput">
                </div>
                <h5>Where did you hear about us?</h5>
                <div class="mb-3">
                    <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
                    <textarea type="url" name="projectDescription" class="form-control" id="projectDescriptionInput"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>