#contactMainDiv {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#contactMainDiv .row {
    margin-bottom: 3rem;
}

#contactTitleDiv {
    margin-bottom: 5rem;
    max-width: 600px;
    margin:auto;
}

#contactFormDiv {
    max-width: 600px;
    margin: auto;
}