<div id="portfolioMainDiv" class="container">
  <div class="terminal-insert-div">
    <app-terminal></app-terminal>
  </div>
  <div id="portfolioFaceDiv" class="row">
    <div class="col-sm-6 portfolio-content">
      <h2>Vahe</h2>
      <h5>Software Engineer</h5>
      <p>Full Stack Software Engineer</p>
      <div class="social-links">
        <a href=""><i class="bi bi-linkedin"></i></a>
        <a href=""><i class="bi bi-github"></i></a>
      </div>
    </div>
    <div class="col-sm-6 headshot-img-div">
      <div id="headshotDiv" class="">
        <img
          id="headshotImg"
          src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679346207/urartusoftware/headshot-square_khokfa.jpg"
          alt="Vahe headshot"
        />
      </div>
    </div>
  </div>

  <!-- Tech stack section -->
  <div class="row tech-stack-div">
    <!-- Main Tech Stack -->
    <div class="row tech-stack-block">
      <div class="col-sm-2 tech-stack-block-header column-right">
        <h5>Tech Stack</h5>
      </div>

      <div class="col-sm-10 tech-stack-block-icons">
        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350793/Portfolio/java-noname_swocph.png"
                alt="Java programming language logo"
              />
            </div>
            <div class="knowledge-item-text-div">Java</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350806/Portfolio/image_nbt6za.png"
                alt="Spring Boot logo"
              />
            </div>
            <div class="knowledge-item-text-div">Spring</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350822/Portfolio/image_d7sy7a.png"
                alt="Angular logo"
              />
            </div>
            <div class="knowledge-item-text-div">Angular</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350997/Portfolio/image_oudr47.png"
                alt="TypeScript logo"
              />
            </div>
            <div class="knowledge-item-text-div">TypeScript</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679443774/Portfolio/GCP-Logo_woeq44.png"
                alt="GCP Google Cloud Platform logo"
              />
            </div>
            <div class="knowledge-item-text-div">GCP</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Full Tech Stack -->
    <div class="row tech-stack-block">
      <div class="col-sm-2 tech-stack-block-header"></div>
      <div class="col-sm-10 tech-stack-block-icons">
        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350992/Portfolio/js-logo-noname_zv19li.png"
                alt="JavaScript programming language logo"
              />
            </div>
            <div class="knowledge-item-text-div">JavaScript</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350893/Portfolio/html-logo-noname_gqntc0.png"
                alt="HTML logo"
              />
            </div>
            <div class="knowledge-item-text-div">HTML</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350954/Portfolio/css-logo-noname_skiicq.png"
                alt="CSS logo"
              />
            </div>
            <div class="knowledge-item-text-div">CSS</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350815/Portfolio/image_cmxuiw.png"
                alt="Swift logo"
              />
            </div>
            <div class="knowledge-item-text-div">Swift</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679443273/Portfolio/5968322_gudhk2.png"
                alt="MongoDB logo"
              />
            </div>
            <div class="knowledge-item-text-div">Node.js</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row tech-stack-block">
      <div class="col-sm-2 tech-stack-block-header"></div>
      <div class="col-sm-10 tech-stack-block-icons">
        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679443447/Portfolio/Postgresql_elephant.svg_uujh4k.png"
                alt="PostgreSQL logo"
              />
            </div>
            <div class="knowledge-item-text-div">PostgreSQL</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679443498/Portfolio/MySQL_w2dz2n.png"
                alt="MySQL logo"
              />
            </div>
            <div class="knowledge-item-text-div">MySQL</div>
          </div>
        </div>
      </div>
    </div>

    <!-- DevOps -->
    <div class="row tech-stack-block">
      <div class="col-sm-2 tech-stack-block-header column-right">
        <h5>DevOps</h5>
      </div>

      <div class="col-sm-10 tech-stack-block-icons">
        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679351035/Portfolio/image_perxnm.png"
                alt="Jenkins logo"
              />
            </div>
            <div class="knowledge-item-text-div">Jenkins</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679443013/Portfolio/Moby-logo_sfttro.webp"
                alt="Docker logo"
              />
            </div>
            <div class="knowledge-item-text-div">Docker</div>
          </div>
        </div>

        <div class="knowledge-item-div">
          <div class="knowledge-item-inner-div">
            <div class="knowledge-item-img-div">
              <img
                src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679351030/Portfolio/image_ndjjh0.png"
                alt="GitLab logo"
              />
            </div>
            <div class="knowledge-item-text-div">GitLab</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
