#portfolioMainDiv {
    margin-top: 5rem;
    max-width: 600px;
    justify-content: space-between;
}

.portfolio-content {
    text-align: left;
}

.portfolio-content h5 {
    font-weight: 300;
}

.portfolio-content p {
    font-size: 12px;
    font-weight: 300;
}

/* Portfolio face portion */
#portfolioFaceDiv {
    text-align: center;
}

#headshotDiv {
    margin-left: auto;
    @media(max-width: 768px) {
        margin-right: auto;
    }
}

.headshot-img-div {
    display: flex;
    @media(max-width: 768px) {
        margin-top: 2rem;
    }
}

.headshot-img-div .gradient-border {
    margin: 0 auto;
    border-radius: 100%;
}

#headshotImg {
    max-width: 200px;
    border-radius: 100%;
}

.social-links a {
    margin-right: 0.5rem;
    cursor: pointer;
}

/* Tech Stack Section */
.tech-stack-div {
    margin: 3rem 0;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    --border-width: 3px;
}

.tech-stack-block {
    margin-bottom: 2rem;
}

.tech-stack-block-header {
    display: flex;   
}

.column-right {
    @media (max-width: 576px) {
        margin-bottom: 1rem;
    }

    @media (min-width: 576px) {
        border-right: 1px solid var(--color-foreground-quartiary);
    }
}

.tech-stack-block h5 {
    margin: auto 0;
    font-size: 12px;
    font-weight: 600;
}

// Knowledge items
.tech-stack-block-icons {
    text-align: left;
}

.knowledge-item {
    width: 60px;
    margin-right: 0.5rem;
    padding: 0;
    display: inline-block;
}

.knowledge-item-logo-div {
    display: flex;
    overflow: auto;
    width: 40px;
    border-radius: 5px;
    margin: 0 auto 5px auto;

    // box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.knowledge-item-logo-div img {
    width: 80%;
    margin: auto;
}

.knowledge-item-title {
    word-wrap: break-word;
    line-height: 1em;
    max-height: 2em;
    text-align: center;
    font-size: 10px;
    font-weight: 200;
}

// Project icon animation
.project-icon {
    --color: #FA6900; /* the color of the border */
    --border: 10px;   /* the thickness of the border */
    --offset: 30px;   /* control the movement of the border */
    --gap: 5px;       /* the gap on hover */
    
    border-radius: 50%;
    cursor: pointer;
    padding: calc(var(--border) + var(--gap));
    border: var(--offset) solid #0000;
    --_m: radial-gradient(50% 50%, #000 calc(100% - var(--offset)),#0000 calc(100% - var(--border)));
    -webkit-mask: var(--_m);
            mask: var(--_m);
    --_g: #0000 calc(99% - var(--border)), var(--color) calc(100% - var(--border)) 99%,#0000;
    --_s: var(--offset);
    --_r: 100% 100% at;
    background:
      radial-gradient(var(--_r) 0    0   ,var(--_g)) calc(100% + var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 100% 0   ,var(--_g)) calc(0%   - var(--_s)) calc(100% + var(--_s)),
      radial-gradient(var(--_r) 0    100%,var(--_g)) calc(100% + var(--_s)) calc(0%   - var(--_s)),
      radial-gradient(var(--_r) 100% 100%,var(--_g)) calc(0%   - var(--_s)) calc(0%   - var(--_s));
    background-size: 50% 50%;
    background-repeat: no-repeat;
    transition: .4s;
  }

  .project-icon:hover {
    --_s: 0px
  }