<div id="portfolioMainDiv" class="container">
  <div class="prompt-div">
    <div class="prompt-text-div" [ngClass]="{
      'fade-out': !terminalNavigationNeverPressed
    }">
      <span>Hi, </span><span>click on folders in terminal to navigate <i class="bi bi-caret-down-fill"></i></span>
    </div>
  </div>
  <div class="terminal-insert-div">
    <app-terminal
      (newViewOptionEvent)="changeViewOption($event)"
    ></app-terminal>
  </div>
  <div class="row" id="viewOptionDiv" [ngSwitch]="selectedViewOption">
    <app-portfolio-face *ngSwitchCase="0" [@fade]></app-portfolio-face>
    <app-bio *ngSwitchCase="1" [@fade]></app-bio>
    <app-tech-stack *ngSwitchCase="2" [@fade]></app-tech-stack>
    <!-- <app-portfolio-showroom *ngSwitchCase="3" [@fade]></app-portfolio-showroom> -->
    <app-coming-soon *ngSwitchCase="3" [@fade]></app-coming-soon>
  </div>
</div>
