#portfolioMainDiv {
  margin-top: 2rem;
  margin-bottom: 10rem;
  max-width: 600px;
  justify-content: space-between;
}

.terminal-insert-div {
  margin: 0;
  width: 100%;
  margin-bottom: 4rem;
}

#viewOptionDiv {
  margin-top: 4rem;
}
