<div id="portfolioMainDiv" class="container">
  <div id="portfolioFaceDiv" class="row">
    <div class="col-sm-6 portfolio-content">
      <h2>Vahe</h2>
      <h5>Software Engineer</h5>
      <p>Full Stack Software Engineer</p>
      <div class="social-links">
        <a href=""><i class="bi bi-linkedin"></i></a>
        <a href=""><i class="bi bi-github"></i></a>
      </div>
    </div>
    <div class="col-sm-6 headshot-img-div">
      <div id="headshotDiv" class="gradient-border">
        <img
          id="headshotImg"
          src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679346207/urartusoftware/headshot-square_khokfa.jpg"
          alt="Vahe headshot"
        />
      </div>
    </div>
  </div>

  <!-- Tech stack section -->
  <div class="row tech-stack-div gradient-border gradient-border-content">
    <!-- Main tech -->
    <div class="tech-stack-block">
      <h5>Tech Stack</h5>
      <div class="knowledge-item">
        <div class="knowledge-item-logo-div">
          <img
            src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350793/Portfolio/java-noname_swocph.png"
            alt="Java programming language logo"
          />
        </div>
        <div class="knowledge-item-title">Java</div>
      </div>
      <div class="knowledge-item">
        <div class="knowledge-item-logo-div">
          <img
            src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350806/Portfolio/image_nbt6za.png"
            alt="Spring Boot logo"
          />
        </div>
        <div class="knowledge-item-title">Spring</div>
      </div>
      <div class="knowledge-item">
        <div class="knowledge-item-logo-div">
          <img
            src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350822/Portfolio/image_d7sy7a.png"
            alt="Angular logo"
          />
        </div>
        <div class="knowledge-item-title">Angular</div>
      </div>
    </div>

    <!--  -->
    <div class="tech-stack-block">
      <h5 class="">Tech Stack</h5>
      <div class="knowledge-item">
        <div class="knowledge-item-logo-div">
          <img
            src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679350793/Portfolio/java-noname_swocph.png"
            alt="Java programming language logo"
          />
        </div>
        <div class="knowledge-item-title">Java</div>
      </div>
    </div>
  </div>
</div>
