#businessSourceSelector {
    height: 30px;
    background-color: var(--color-foreground-primary);
    color: var(--color-text-light);
    border: none;
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 2rem;

    font-weight: 200;

    -webkit-appearance: none;
    -moz-appearance: none;
}

#businessSourceSelector i {
    color: white;
}