#businessSourceSelector {
    height: 30px;
    background-color: var(--color-foreground-primary);
    color: var(--color-text-light);
    border: none;
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 2rem;

    font-weight: 200;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-info-message {
    color: var(--color-text-primary)!important;
}

.spinners-div {
    margin-top: 5rem;
    color: var(--color-foreground-primary);
    text-align: center;
}

.spinners-div h5{
    margin-bottom: 1rem;
}

.spinners-div .spinner-border {
    text-align: center;
    margin: 0 1rem;
}

.is-hidden {
    display: none;
}