input, textarea {
    border-radius: 0;
}

#businessSourceSelector {
    height: 30px;
    background-color: var(--color-foreground-primary);
    color: var(--color-text-light);
    border: none;
    border-radius: 5px;
    padding: 0 1rem;
    margin-bottom: 2rem;

    font-weight: 200;

    // Removing client native appearance for more consistent ui
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-info-message {
    color: var(--color-text-primary)!important;
}