.navbar {
    background-color: var(--color-background-light);
    height: var(--navbar-height);
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

@media(max-width: 768px) {
    #navbarInnerDiv {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }
}

.navbar-brand {
    cursor: pointer;
    height: 50px;
    color: var(--color-foreground-primary);
    @media(min-width: 768px) {
        margin: 0 2rem;
    }
}

.nav-link {
    margin: 0 5px;
    color: var(--color-foreground-quartiary);
}

.nav-link:hover {
    color: var(--color-text-primary);
}

.nav-link.active {
    color: var(--color-foreground-secondary);
    border-bottom: solid 2px;
}

#navbarInnerDiv {
    background-color: var(--color-background-light);
    @media(max-width: 768px) {
        padding-bottom: 1rem;
    }
}