<nav class="navbar navbar-expand-md navbar-light">
    <div id="navbarInnerDiv" class="container-fluid">
      <img class="navbar-brand" src="../../../assets/UrartuSoftware.png" alt="Urartu Software Logo" routerLink="home">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="contact" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex">
          <app-custom-button routerLink="contact" id="navbarContactBtn" [name]="'Get a Quote'" [style]="contactButtonStyle"></app-custom-button>
        </form>
      </div>
    </div>
  </nav>