
.spinners-div {
    margin-top: 5rem;
    color: var(--color-foreground-primary);
    text-align: center;
}

.spinners-div h5{
    margin-bottom: 1rem;
}

.spinners-div .spinner-border {
    text-align: center;
    margin: 0 1rem;
}