<div class="row">
  <h5>Bio</h5>
  <p>
    Full stack software engineer with 3 years of experience building web and
    mobile applications, including enterprise level.
  </p>
  <p>
    Specialized in Java with Spring boot and Angular while also having
    competence and experience in many other languages, frameworks, tools, and
    libraries (check out tech-stack section for more info).
  </p>
  <p>
    Resolving complex problems with simple solutions. Clean code design is a
    must for me. Worked in teams of talented engineers, from independent to Fortune 500 companies.
  </p>
</div>
