#mainDiv {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    font-weight: 400;
}

.heading-blue {
    background-image: linear-gradient(100deg, var(--color-text-primary), var(--color-foreground-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#landingActionButtonDiv {
    display: flex;
    margin: 2rem;
}

#landingImgDiv {
    margin: 5rem auto;
    display: flex;
    max-width: 800px;
}

#landingImgDiv img {
    width: 100%;
    margin: 0 auto;
}

#whySectionDiv {
    max-width: 700px;
    margin: 0 auto;
}

#whySpan {
    background-color: var(--color-foreground-secondary);
    padding: 0.2rem 1rem;
}

#companyTagSpan {
    color: var(--color-foreground-secondary);
}

ul {
    font-size: 1.2rem;
    margin: 1rem;
}

ul li {
    margin-top: 1rem;
}

ul li span {
    font-weight: 600;
}