<div class="container">
    <div class="row">
        <div class="col">
            <h1>Thank you!</h1>
            <h4>Your contact request has been submitted.</h4>
            <p>We will reach out to you within the next 48 hours. </p>
            <p>Feel free to ask us any questions, discuss your project, request a quote, or just pick our brains.</p>
        </div>
    </div>
    <div class="row button-div">
        <app-custom-button (click)="navigateHome()" [name]="'Take me Home'" [style]="buttonStyle.SECONDARY"></app-custom-button>
    </div>
</div>