.container {
    max-width: 600px;
    // text-align: center;
}

h1 {
    margin-top: 3rem;
    color: var(--color-foreground-secondary);
}

h4 {
    margin-bottom: 2rem;
    color: var(--color-foreground-primary)
}

.button-div {
    margin-top: 2rem;
}