.terminal-div {
    width: 100%;
    height: 100%;
}

.terminal-top-div {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #2D2D2D;
    border-radius: 10px 10px 0 0;
}

.terminal-body-div {
    background-color: #1F1E1E;
    height: 100%;
}

.tbutton {
    margin: auto 0 auto 5px;
    height: 14px;
    width: 14px;
    border-radius: 100%;
}

.tbutton-red {
    margin-left: 10px;
    background-color: #E8675C;
}

.tbutton-yellow {
    background-color: #F4BD4F;
}

.tbutton-green {
    background-color: #62C454;
}

.terminal-content {
    padding: 6px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 14px;
}

.ttext-top {
    color: white;
}

.ttext-user {
    color: #939393;
}

.ttext-path {
    margin-left: 8px;
    color: #E7B649;
}