<div id="portfolioFaceDiv" class="row">
  <div class="col-sm-6 portfolio-content">
    <h2>Vahe</h2>
    <h5>Software Engineer</h5>
    <p>Complex problems, elegant solutions.<p>
    <p>Developing with user experience at the center<p>
    <p></p>
    <div class="social-links">
      <a href=""><i class="bi bi-linkedin"></i></a>
      <a href=""><i class="bi bi-github"></i></a>
    </div>
  </div>
  <div class="col-sm-6 headshot-img-div">
    <div id="headshotDiv" class="">
      <img
        id="headshotImg"
        src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679346207/urartusoftware/headshot-square_khokfa.jpg"
        alt="Vahe headshot"
      />
    </div>
  </div>
</div>
