<div id="portfolioFaceDiv" class="row">
  <div class="col-sm-6 portfolio-content">
    <h2>Vahe</h2>
    <h5>Software Engineer</h5>
    <p>Hi, nice to see you here!</p>
    <p>Have a look around, maybe you will find something interesting. Feel free to reach out to me if you have any questions or if you just want to connect.</p>
    <p></p>
    <div class="social-links">
        <a href="https://github.com/vaheaslanyan" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/vaheaslanyan/" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="mailto:vahe.sde@proton.me" target="_top"><i class="bi bi-envelope-paper-fill"></i></a>
    </div>
  </div>
  <div class="col-sm-6 headshot-img-div">
    <div id="headshotDiv" class="">
      <img
        id="headshotImg"
        src="https://res.cloudinary.com/dolmkfdxb/image/upload/v1679346207/urartusoftware/headshot-square_khokfa.jpg"
        alt="Vahe headshot"
      />
    </div>
  </div>
</div>
