/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

:root {
    --color-background-primary: #D6E6FF;
    --color-foreground-primary: #4056A1;
    --color-foreground-secondary: #D79922;
    --color-foreground-tertiary: #A8A8A9;

    --color-text-primary: #3d3d3d;
}

html body {
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);

}

h1 {
    font-size: 40px;
}